[DEFAULT]
base              = {{ kolla_base }}
base_image        = {{ kolla_base_image }}
base_tag          = {{ kolla_base_tag }}
debug             = {{ kolla_debug }}
install_type      = {{ kolla_install_type }}
logs_dir          = {{ kolla_logs_dir }}
maintainer        = {{ kolla_maintainer }}
namespace         = {{ kolla_namespace }}
registry          = {{ kolla_registry }}
retries           = {{ kolla_retries }}
rpm_setup_config  = {{ kolla_rpm_setup_config |join(',') }}
skip_existing     = {{ kolla_skip_existing }}
tag               = {{ kolla_tag }}
template_only     = {{ kolla_template_only }}
template_override = {{ kolla_template_override }}
template_override = {{ kolla_tmpdir }}/template-overrides.j2
threads           = {{ kolla_threads }}
timeout           = {{ kolla_timeout }}

[profiles]
tripleo_default = {{ tripleo_default_images | join(',') }}

{% if kolla_rdo_images is iterable and kolla_rdo_images is not string %}
{% set tripleo_custom_images = kolla_rdo_images %}
{% else %}
{% set tripleo_custom_images = kolla_rdo_images.split(',') | default('') %}
{% endif %}
tripleo_custom = {{ tripleo_custom_images | join(',') }}
